
body {
   background-color: #cd9fa3; 
   display: grid;
   margin: 0;
}
.triangle {
    background-color: #8b484d;
    width:800px;
    margin: 0 auto;
    text-align: center;
}

ul {
    padding: 8px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
}

h1 {
    color: white;
    font-size: 46px;
    font-family: 'Coda Caption', sans-serif;
}

.triangle p {
    display: none;
}
    li.mouse:hover p {
        display: inline;
    }
footer{
    background-color: #b36d72;
    text-align:center;
    margin: 0 auto;
    width: 800px;
}

a {
    text-decoration: none;
    color: white;
}
    a:hover {
        text-decoration-line: line-through;
        color: #6db3ae;
    }
h2 {
    color: white;
    font-size: 32px;
    font-family: 'Coda Caption', sans-serif;
}
p, ul {
    font-family: 'Poiret One', cursive;
    color: white;
}
/* font-family: 'Coda Caption', sans-serif;
font-family: 'Poiret One', cursive; */